@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Disk Inventory Xavier Caldwell</h1>
    <p>This is a welcome message. Whats up</p>
    <br />
    <h5 class="bg-info p-2">
        <a class="text-white" asp-controller="Disk" asp-action="Index">Disk Inventory</a>
    </h5>

    <h5 class="bg-info p-2">
        <a class="text-white" asp-controller="Borrower" asp-action="Index">Borrower List</a>
    </h5>

    <h5 class="bg-info p-2">
        <a class="text-white" asp-controller="Cart" asp-action="Index">Checkout Manager</a>
    </h5>
</div>
